{% if user.is_authenticated %} 
	<p>Привет, {{ user.username }}!</p>
	<p><a href="{% url 'logout' %}">Выйти</a></p>
{% else %} 
	<p>You are not logged in.</p>
	<a href="{% url 'login' %}">Войти</a> 
{% endif %}

<h2>{{category.title}}</h2>
<p>{{category.description}}</p>

{% for product in category.products.all %}
<p><a href="{% url 'product_detail' product.id %}">{{product.title}}</a></p>
{% endfor %}

<p><a href="{% url 'index' %}">на главную</a></p>
<p><a href="{% url 'product_create' %}">Добавить продукт</a></p>